<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Recipe Rendezvous</title>
</head>

<body class="bg-yellow-100 text-center">
    <div class="container mx-auto">
        <header>
            <div class="grid">
                <div class="col-span-6 grid-cols-7  flex-1 justify-self-center"><img class="h-32 mt-6"
                        src="/images/RRLogo-1.png" alt="Logo" /></div>
                {{#if loggedIn}}
                <div class="col-span-2 col-start-2"><a href="/dashboard">Recipe Box</a></div>
                <button id="logout">Logout</button>
                {{else}}
                <div class="col-span-2 col-start-2"><a href="/login">Register</a></div>
                <div class="col-span-2"><a href="/login">Login</a></div>
                {{/if}}
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <div class="grid px-52 py-12">
            <div><img class="justify-self-center mt-6 rounded-lg shadow-xl" src="/images/cooking-together.png"
                    alt="Cooking Together" /></div>
        </div>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>