<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Recipe Rendezvous</title>
</head>

<body class="bg-yellow-100 text-center">
    <div class="container mx-auto">
        <header>
            <nav class="flex justify-end space-x-4">
                {{#if loggedIn}}
                <div class="p-2 rounded-lg shadow-xl bg-gray-700 text-yellow-100"><a href="/dashboard">Recipe Box</a>
                </div>
                <button class="p-2 rounded-lg shadow-xl bg-gray-700 text-yellow-100" id="logout">Logout</button>
                {{else}}
                <div class="p-2 rounded-lg shadow-xl bg-gray-700 text-yellow-100"><a href="/login">Register</a></div>
                <div class="p-2 rounded-lg shadow-xl bg-gray-700 text-yellow-100"><a href="/login">Login</a></div>
                {{/if}}
            </nav>
            <div class="grid p-6">
                <div class="col-span-6 grid-cols-7  flex-1 justify-self-center">
                    <a href="/">
                        <img class="h-32 mt-6" src="/images/RRLogo-1.png" alt="Logo" />
                    </a>
                </div>
            </div>
        </header>
        <main class="grid p-1">
            {{{ body }}}
        </main>
        <div class="grid px-52 py-12">
            <div><img class="justify-self-center mt-6 rounded-lg shadow-xl" src="/images/cooking-together.png"
                    alt="Cooking Together" /></div>
        </div>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>