<div class="">
    <div class="">
  <h2>New Recipe</h2>

  <form class="new-recipe-form">
    <div class="">
      <label for="recipe-title">Title:</label>
      <br>
      <input class="" type="text" id="recipe-title" name="recipe-title" />
    </div>
    <div class="">
      <label for="recipe-ingredients">Ingredients:</label>
      <br>
      <input class="" id="recipe-ingredients" name="recipe-ingredients" />
    </div>
    <div class="">
        <label for="recipe-directions">Directions:</label>
        <br>
        <input class="" id="recipe-directions" name="recipe-directions" />
      </div>
    <button type="submit" class="btn">Create</button>
  </form>
  </div>
</div>

<script src="/javascript/add-recipe.js"></script>